aiohttp==3.11.12
aiosmtplib==4.0.0
async-timeout==4.0.2
attrs==25.1.0
certifi==2025.1.31
chardet==5.0.0
crontab==1.0.1
idna==3.10
Jinja2==3.1.5
MarkupSafe==3.0.2
multidict==6.1.0
python-dateutil==2.8.2
pytz==2022.6
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
sentry-sdk==2.20.0
six==1.16.0
strictyaml==1.6.1
typing-extensions==4.4.0
urllib3==2.3.0
yacron==0.17.0
yarl==1.18.3
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
