aiohttp==3.10.11
aiosmtplib==2.0.0
async-timeout==4.0.2
attrs==25.1.0
certifi==2024.7.4
chardet==5.0.0
crontab==0.23.0
idna==3.7
Jinja2==3.1.5
MarkupSafe==2.1.1
multidict==6.0.2
python-dateutil==2.8.2
pytz==2022.6
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
sentry-sdk==2.8.0
six==1.16.0
strictyaml==1.6.1
typing-extensions==4.4.0
urllib3==1.26.19
yacron==0.17.0
yarl==1.7.2
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
