name: Verify, Build and Push Image to Docker

on:
  workflow_dispatch:
  release:
    types:
      - published
      
# For Docker publishing
env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

jobs:
  anchore-build-scan:
    runs-on: ubuntu-latest
    permissions:
        actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
        contents: read # for actions/checkout to fetch code
        id-token: write
        security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
    steps:
      - name: Check out the code
        uses: actions/checkout@v5
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag localbuild/testimage:latest --build-arg TARGETARCH=amd64
      - name: Run the Anchore Grype scan action
        uses: anchore/scan-action@v7.1.0
        id: scan
        with:
          image: "localbuild/testimage:latest"
          fail-build: false
          output-format: sarif
          severity-cutoff: medium
          cache-db: true
      - name: Upload vulnerability report
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
  multi-arch-build:
    runs-on: ubuntu-latest
    needs: anchore-build-scan
    permissions:
      contents: read
      packages: write # for docker publishing
      id-token: write # for docker publishing
    steps:
      - name: Get branch name
        shell: bash
        run: echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/} | tr / -)" >> $GITHUB_ENV
      - name: Debug branch-tag
        shell: bash
        run: echo ${{ env.BRANCH_NAME }}
      - name: Set docker tag for main branch
        if: ${{ env.BRANCH_NAME == 'main' }}
        shell: bash
        run: echo "DOCKERTAG=latest" >> $GITHUB_ENV
      - name: Set docker tag for github tags
        if: ${{ env.BRANCH_NAME != 'main' }}
        shell: bash
        run: echo "DOCKERTAG=$(echo "${{ env.BRANCH_NAME }}" | sed 's/refs-tags-v//')" >> $GITHUB_ENV
#      - name: Debug branch-tag
#        shell: bash
#        run: echo $GITHUB_ENV
#      - name: Debug docker tag
#        run: echo ${{ env.DOCKERTAG }}
#      - name: Set up QEMU
#        uses: docker/setup-qemu-action@v3.7.0
#      - name: Set up Docker Buildx
#        uses: docker/setup-buildx-action@v3.11.1
#      - name: Login to DockerHub
#        uses: docker/login-action@v3.6.0
#        with:
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}
#      - name: Build and push Docker images
#        uses: docker/build-push-action@v6.18.0
#        id: docker_build
#        with:
#          platforms: linux/arm/v7,linux/arm64,linux/amd64
#          push: true
#          tags: pganansia/speedtest2mqtt:${{ env.DOCKERTAG }}
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

      # Check out du package
      - name: Checkout repository
        uses: actions/checkout@v5
      # Install the cosign tool except on PR
      # https://github.com/sigstore/cosign-installer
      - name: Install cosign
        uses: sigstore/cosign-installer@v4.0.0
        with:
          cosign-release: 'v2.4.3'
      - name: Check install!
        run: cosign version
      # Set up QEMU
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.7.0
      # Set up BuildKit Docker container builder to be able to build
      # multi-platform images and export cache
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1
      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5.9.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      # Login to DockerHub
      # https://github.com/docker/login-action
      - name: Login to DockerHub
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/arm/v7,linux/arm64,linux/amd64
#          tags: ${{ steps.meta.outputs.tags }}
          tags: pganansia/speedtest2mqtt:${{ env.DOCKERTAG }}
      # Sign the resulting Docker image digest except on PRs.
      # This will only write to the public Rekor transparency log when the Docker
      # repository is public to avoid leaking data.  If you would like to publish
      # transparency data even for private images, pass --force to cosign below.
      # https://github.com/sigstore/cosign
      - name: Sign the published Docker image
        if: ${{ github.event_name != 'pull_request' }}
        env:
          # https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#using-an-intermediate-environment-variable
          TAGS: ${{ steps.meta.outputs.tags }}
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
        # This step uses the identity token to provision an ephemeral certificate
        # against the sigstore community Fulcio instance.
        run: echo "${TAGS}" | xargs -I {} cosign sign --yes {}@${DIGEST}
